@use './scss/root';
@use './scss/reset';
@use './scss/mixin';

@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1v-p_4MrImHCIJIZrDCvHOej.woff2')
    format('woff2');
}

body {
  @include mixin.text-style('body-medium');
  user-select: none;
  background-color: var(--md-sys-color-background);
  color: var(--md-sys-color-on-background);
  overflow: hidden;
  height: 100vh;
}

#app {
  display: flex;
  flex-direction: column;
}

.elevated-card {
  --md-elevation-level: 1;
  position: relative;
  background-color: var(--md-sys-color-surface-container-low);
  border-radius: var(--md-sys-shape-corner-medium);
  padding-block: 12px;
  padding-inline: 16px;
}
